@import (reference) "~seek-style-guide/theme";

$footer-vertical: "and (max-width: " ($responsive-breakpoint - 1) ")";
$footer-horizontal: "and (min-width: " $responsive-breakpoint ")";
$footer-classic: "and (min-width: 1025px)";

@mixin footerText() {
  @mixin rawText(),
  line-height: ($grid-row-height * 4),
  height: ($grid-row-height * 4),
  @media only screen $footer-vertical {
    .touchableText($standard-type-scale),
  }
}

@mixin footerLink() {
  @include link();
  display: inline-block;
  color: $sk-link-on-mid-gray-light;
  @media only screen $footer-vertical {
    @include touchableText($standard-type-scale);
  }
  @media only screen $footer-horizontal {
    @include footerText();
  }
}
