// Accessible variants
$dna-mid-gray-on-white: #959595;
$dna-mid-gray-dark-on-gray-light: #646464;

$dna-pink-on-gray-light: #bd0b67;
$dna-learning-dark-on-gray-light: #157e00;
$dna-business-on-gray-light: #0f749f;
$dna-link-on-mid-gray-light: #005bb6;
