// Seek base colors
$dna-blue: #0d3880;
$dna-pink: #e60278;
$dna-green: #157e00;
$dna-purple: #9556b7;
$dna-teal: #00a5ad;

$dna-red: #FF0037;
$dna-grey: #DCDCDC;
$dna-blue: #00bee1;
$dna-orange: #ff6000;
$dna-rhod-red: #fa059b;
$dna-green: #96d20a;
