// Seek element colors
$dna-link: #0066cc;
$dna-link-visited: #7e30ab;
$dna-focus: #1e90ff;
$dna-highlight: #1d9ede;
$dna-green-light: #5bc252;
$dna-yellow: #ffc600;
$dna-yellow-light: #fffce3;
$dna-orange: #f57c00;
$dna-footer: $dna-mid-gray-light;
$dna-background: $dna-gray-light;
$dna-form-accent: $dna-focus;
