// Seek grays
$dna-black: #212121;
$dna-charcoal: #404040;
$dna-mid-gray-dark: #747474;
$dna-mid-gray-medium: #898989;
$dna-mid-gray: #a8a8a8;
$dna-mid-gray-light: #d6d6d6;
$dna-gray-medium: #e1e1e1;
$dna-gray-light: #eeeeee;
$dna-gray-lightest: #f7f7f7;
$dna-off-white: #fbfbfb;
$dna-white: #ffffff;
