@import "../palette/grays";

// Base
$base-font-stack: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
$base-font-size: 10;
// Descender height has been adjusted to cater for both Roboto and
// Helvetica Neue being as close to the baseline as possible:
$font-descender-height-scale: 0.1365;

// Text variants
$sk-light: 300;
$sk-regular: 400;
$sk-medium: 500;
$sk-bold: 600;
$sk-secondary: $sk-mid-gray-dark;


// Hierarchy
$hero-type-scale: 4.2;
$hero-type-row-span: 6;
$hero-type-weight: $sk-regular;
$hero-type-scale-mobile: 2.1;
$hero-type-row-span-mobile: 3;
$hero-type-weight-mobile: $sk-bold;

$headline-type-scale: 2.8;
$headline-type-row-span: 4;
$headline-type-weight: $sk-bold;
$headline-type-scale-mobile: 2.1;
$headline-type-row-span-mobile: 3;
$headline-type-weight-mobile: $sk-bold;

$heading-type-scale: 2.1;
$heading-type-row-span: 3;
$heading-type-weight: $sk-bold;
$heading-type-scale-mobile: 2.1;
$heading-type-row-span-mobile: 3;
$heading-type-weight-mobile: $sk-bold;

$subheading-type-scale: 1.8;
$subheading-type-row-span: 3;
$subheading-type-weight: $sk-regular;
$subheading-type-scale-mobile: 2.1;
$subheading-type-row-span-mobile: 3;
$subheading-type-weight-mobile: $sk-bold;

$superstandard-type-scale: 1.8;
$superstandard-type-row-span: 3;
$superstandard-type-weight: $sk-regular;
$superstandard-type-scale-mobile: 1.8;
$superstandard-type-row-span-mobile: 3;
$superstandard-type-weight-mobile: $sk-regular;

$standard-type-scale: 1.4;
$standard-type-row-span: 2;
$standard-type-weight: $sk-regular;
$standard-type-scale-mobile: 1.8;
$standard-type-row-span-mobile: 3;
$standard-type-weight-mobile: $sk-regular;

$substandard-type-scale: 1.4;
$substandard-type-row-span: 2;
$substandard-type-weight: $sk-regular;
$substandard-type-scale-mobile: 1.4;
$substandard-type-row-span-mobile: 2;
$substandard-type-weight-mobile: $sk-regular;

$small-type-scale: 1.2;
$small-type-row-span: 2;
$small-type-weight: $sk-regular;
$small-type-scale-mobile: $small-type-scale;
$small-type-row-span-mobile: $small-type-row-span;
$small-type-weight-mobile: $sk-regular;

$interaction-type-scale: 1.8;
$interaction-type-row-span: 5;

$hero-type: (
  scale: $hero-type-scale,
  row-span: $hero-type-row-span,
  weight: $hero-type-weight,
  scale-mobile: $hero-type-scale-mobile,
  row-span-mobile: $hero-type-row-span-mobile,
  weight-mobile: $hero-type-weight-mobile
);

$headline-type: (
  scale: $headline-type-scale,
  row-span: $headline-type-row-span,
  weight: $headline-type-weight,
  scale-mobile: $headline-type-scale-mobile,
  row-span-mobile: $headline-type-row-span-mobile,
  weight-mobile: $headline-type-weight-mobile
);

$heading-type: (
  scale: $heading-type-scale,
  row-span: $heading-type-row-span,
  weight: $heading-type-weight,
  scale-mobile: $heading-type-scale-mobile,
  row-span-mobile: $heading-type-row-span-mobile,
  weight-mobile: $heading-type-weight-mobile
);

$subheading-type: (
  scale: $subheading-type-scale,
  row-span: $subheading-type-row-span,
  weight: $subheading-type-weight,
  scale-mobile: $subheading-type-scale-mobile,
  row-span-mobile: $subheading-type-row-span-mobile,
  weight-mobile: $subheading-type-weight-mobile
);

$superstandard-type: (
  scale: $superstandard-type-scale,
  row-span: $superstandard-type-row-span,
  weight: $superstandard-type-weight,
  scale-mobile: $superstandard-type-scale-mobile,
  row-span-mobile: $superstandard-type-row-span-mobile,
  weight-mobile: $superstandard-type-weight-mobile
);

$standard-type: (
  scale: $standard-type-scale,
  row-span: $standard-type-row-span,
  weight: $standard-type-weight,
  scale-mobile: $standard-type-scale-mobile,
  row-span-mobile: $standard-type-row-span-mobile,
  weight-mobile: $standard-type-weight-mobile
);

$substandard-type: (
  scale: $substandard-type-scale,
  row-span: $substandard-type-row-span,
  weight: $substandard-type-weight,
  scale-mobile: $substandard-type-scale-mobile,
  row-span-mobile: $substandard-type-row-span-mobile,
  weight-mobile: $substandard-type-weight-mobile
);

$small-type: (
  scale: $small-type-scale,
  row-span: $small-type-row-span,
  weight: $small-type-weight,
  scale-mobile: $small-type-scale-mobile,
  row-span-mobile: $small-type-row-span-mobile,
  weight-mobile: $small-type-weight-mobile
);

$interaction-type: (
  scale: $interaction-type-scale,
  row-span: $interaction-type-row-span
);