@import "~seek-style-guide/theme";

.root {
  border: none;
  background: none;
  @include touchableText($standard-type-scale);
  color: $dna-link;
  padding: 0;

  :global(svg) {
    position: relative;
    top: 5px;
    fill: $dna-link;
    margin-right: $grid-gutter-width * 0.5;
  }
}
