@mixin link() {
  color: $dna-link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@mixin nav_link() {
  color: $dna-black;
  text-decoration: none;
  &:hover {
    color: $dna-pink-on-gray-light;
    cursor: pointer;
  }
}
