@import "../lib/basekick/mixin.scss";
@import "../type/type.scss";
@import "../layout/grid.scss";

@function is-string($value) {
  @return type-of($value) == 'string';
}
@function is-number($value) {
  @return type-of($value) == 'number';
}

// Private type mixins
@mixin __type($type-scale, $row-span, $baseline) {
  @if ((is-number($type-scale)) and (is-number($row-span))) {
    @if ($baseline = true){
      @include basekick($type-scale, $row-span, $font-descender-height-scale, $base-font-size, $grid-row-height);
    }
    @else {
      @include rawText($type-scale);
      line-height: ($grid-row-height * $row-span);
    }
  }
}

@mixin __responsiveType($variant, $baseline) {
  $max-breakpoint: ($responsive-breakpoint - 1);
  $min-breakpoint: $responsive-breakpoint;
  $type-scale: map_get($variant, scale);
  $row-span: map_get($variant, row-span);
  $mobile-type-scale: map_get($variant, scale-mobile);
  $mobile-row-span: map_get($variant, row-span-mobile);
  @media only screen and (max-width: $max-breakpoint) {
    @include __type($mobile-type-scale, $mobile-row-span, $baseline);
    font-weight: map_get($variant, weight-mobile);
  }
  @media only screen and (min-width: $min-breakpoint) {
    @include __type($type-scale, $row-span, $baseline);
    font-weight: map_get($variant, weight);
  }
}

$touchableTextHeight: $grid-row-height * $interaction-type-row-span;

@mixin rawText($font-scale: $standard-type-scale) {
  font-size: $font-scale * $base-font-size + px;
}

@mixin touchableText($font-scale: $interaction-type-scale) {
  @include rawText($font-scale);
  line-height: $touchableTextHeight;
  height: $touchableTextHeight;
}


@mixin heroText($baseline: true) {
  @include __type($hero-type-scale, $hero-type-row-span, $baseline);
}
@mixin headlineText($baseline: true) {
  @include __type($headline-type-scale, $headline-type-row-span, $baseline);
}
@mixin headingText($baseline: true) {
  @include __type($heading-type-scale, $heading-type-row-span, $baseline);
}
@mixin subheadingText($baseline: true) {
  @include __type($subheading-type-scale, $subheading-type-row-span, $baseline);
}
@mixin superstandardText($baseline: true) {
  @include __type($superstandard-type-scale, $superstandard-type-row-span, $baseline);
}
@mixin standardText($baseline: true) {
  @include __type($standard-type-scale, $standard-type-row-span, $baseline);
}
@mixin substandardText($baseline: true) {
  @include __type($substandard-type-scale, $substandard-type-row-span, $baseline);
}
@mixin smallText($baseline: true) {
  @include __type($small-type-scale, $small-type-row-span, $baseline);
}

@mixin heroTextResponsive($baseline: true) {
  @include __responsiveType($hero-type, $baseline);
}
@mixin headlineTextResponsive($baseline: true) {
  @include __responsiveType($headline-type, $baseline);
}
@mixin headingTextResponsive($baseline: true) {
  @include __responsiveType($heading-type, $baseline);
}
@mixin subheadingTextResponsive($baseline: true) {
  @include __responsiveType($subheading-type, $baseline);
}
@mixin superstandardTextResponsive($baseline: true) {
  @include __responsiveType($superstandard-type, $baseline);
}
@mixin standardTextResponsive($baseline: true) {
  @include __responsiveType($standard-type, $baseline);
}
@mixin substandardTextResponsive($baseline: true) {
  @include __responsiveType($substandard-type, $baseline);
}
@mixin smallTextResponsive($baseline: true) {
  @include __responsiveType($small-type, $baseline);
}